# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.pyc
.venv/

# .NET
**/bin/
**/obj/
*.user
*.suo
*.nupkg

# Build
build/

# Logs
*.log
logs/

# Editor
.vscode/
